In [1]:
import mysql.connector
mydb=mysql.connector.connect(
              host="localhost",
              user="root",
              passwd="Madhu12@")

mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE jobportal")

In [1]:
import mysql.connector
mydb = mysql.connector.connect(
              host="localhost",
              user="root",
              passwd="Madhu12@",
             database='jobportal')
mycursor = mydb.cursor()
mycursor.execute("create table register (f_name varchar(50),l_name varchar(50),contact varchar(10),email varchar(50),question varchar(100),answer varchar(100),password varchar(100),cpassword varchar(100))")

In [1]:
import mysql.connector
mydb = mysql.connector.connect(
              host="localhost",
              user="root",
              passwd="Madhu12@",
             database='jobportal')
mycursor = mydb.cursor()
mycursor.execute("create table jobregister (Name varchar(50),Email varchar(50),Gender varchar(10),Contact varchar(50),Date varchar(100),Address varchar(100),Job varchar(100),Qualification varchar(100))")

In [3]:
import mysql.connector
mydb = mysql.connector.connect(
              host="localhost",
              user="root",
              passwd="Madhu12@",
             database='jobportal')
mycursor = mydb.cursor()
mycursor.execute("create table jobregister1 (Job varchar(50),Company varchar(50),Salary varchar(50),Qualification varchar(100),Department varchar(100))")